.hidden {
    display: none;
}

<<<<<<< HEAD
.nav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.btn-start{
  background-color: white;
 border: none;
 border-radius: 30px;
 box-shadow: 0 3px 3px 0



}

.question1 {
  background-color: #4CAF50;
  display:none;


}
=======
.green {
    background-color: greenyellow;
}

.red {
    background-color: red;
}
>>>>>>> 7a5126c3f6590e2b659e58cbc93b018fd63efd22
