<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<footer th:fragment="Footer">
    <div class="footer">
        <div class="footer-top">
            <a href="#">Contact Us</a>    |
            <a href="#">About Us</a>      |
            <a href="#">Privacy</a>       |
            <a href="#">Cookies</a>
        </div>
        <p style="text-align:center">
            &copy PHYT
        </p>
        <div class="sm_links" style="text-align:center">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-1x"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-1x"></i></a>
            <a href="https://www.weibo.com/"><i class="fab fa-weibo fa-1x"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter fa-1x"></i></a>
        </div>
    </div>
</footer>
</html>