<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="Head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Bootstrap CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!--Icons - fontawesome kit-->
        <script src="https://kit.fontawesome.com/7d6ca13c9a.js" crossorigin="anonymous"></script>

        <!--Javascript Scripts-->
        <script src="/js/jquery-2.2.3.min.js" type="text/javascript"></script>
        <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/exercise.js"></script>
        <script src="/js/login.js"></script>
        <script src="/js/tempNavBar.js"></script>
        <script src="/js/ExerciseAjax.js"></script>
        <script src="/js/workouts.js"></script>

        <!--Stylesheets-->
        <link href="/css/main.css" rel="stylesheet" />
        <link href="/css/register.css" rel="stylesheet"/>
        <link href="/css/Ptcss.css" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet">
        <link href="/css/exercises.css" rel="stylesheet" />
        <link href="/css/ClientPage1.css" rel="stylesheet"/>
        <link href="/css/workouts.css" rel="stylesheet"/>
        <link href="/css/footer.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/tempNavBar.css">
        <link href="/css/workouts.css" rel="stylesheet"/>
        <link href="/css/Fragment.css" rel="stylesheet"/>


        <title>Phyt</title>
    </head>


</html>