<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head :: Head">
    <title>Phyt</title>
</head>
<body>
<div th:fragment="Client-navbar">
    <nav class="nav-bar">
        <img src="/images/pt.jpg" class="img-fluid rounded-circle border border-3 border-warning "  id="pt" alt="PT">

        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
        <h1 id="NAVtitle">PHYT</h1>
        <ul class="menu">
            <li><a th:href="@{/home}"><i class="fas fa-home active"></i>Home</a></li>
            <li><a th:href="@{/client/workout}" class="homes"><i class="fas fa-dumbbell"></i>Start a workout</a></li>
            <li>  <a th:href="@{/client/diary}"><i class="fas fa-book"></i>View Diary</a></li>
            <li> <a href="#" ><i class="fas fa-user"></i>Trainer Profile</a></li>
            <li><a th:href="@{'/client/'+${name}}"><i class="fas fa-user-cog lastlist"></i>Your Account </a></li>
            <li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>
    </nav>
</div>
</body>
</html>