#exercise-body{
    background-image: none;
    background-color: white;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #007bff;
    text-decoration: none;
}

header{
    margin-top: 16rem;
    min-height:10vh;
    background-color: white;
    text-align: center;
    padding: 2rem 2.5rem;
}

.exercise-header>h2{
    font-size: 2.8rem;
    padding: 20px 0;
}

#exercise-main{
    margin-bottom: 12vh;
}

.exercise-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exercise-flex-row-space{
    justify-content: space-between;
    padding: 0 2rem;
}

@media only screen and (max-width: 625px){
    .exercise-flex-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .exercise-flex-row-space{
        align-items: flex-start;
        padding: 2rem;
    }
}

/*Additional button class to make bootstrap buttons larger
Adapted from https://stackoverflow.com/questions/32864415/how-can-i-increase-the-size-of-a-bootstrap-button/32869241
*/
.btn-xl {
    margin: 5px;
    min-width: 150px;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 10px;
}

@media only screen and (max-width: 625px){
    .btn-xl{
        margin: 5px;
        min-width: 50px;
        padding: 7px 7px;
        font-size: 1.8rem;
        border-radius: 10px;
    }

    #filter-button>button{
        width: 170px;
        margin: 0 auto;
        padding: 10px 10px;
    }
}

/*CSS for AllExercises*/
#filterForm{
    font-size: 1.8rem;
    width: 50%;
    margin: 20px auto;
    padding: 2rem 1rem;
}

#filterForm-div{
    width: 100%;
    margin: auto;
}

.exercise-list{
    width: 80%;
    margin: auto;
}
.exercise-card{
    margin: 1rem;
    display:flex;
    max-height: 50vh;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 3rem;
    align-items: center;
    border: #007bff solid 0.2rem;
    border-radius: 1rem;
}
.exercise-thumbnail{
    padding-right: 1rem;
    width: 215px;
    height: 150px;
}

.exercise-summary{
    padding: 1.5rem;
    flex-basis: 60%;
}

.exercise-summary>p>span{
    font-weight: normal;
    font-size: 1.8rem;
}
.exercise-summary>p {
    font-size: 1.8rem;
    font-weight: bold;
}

.exercise-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 900px){
    .exercise-list{
        width: 100%;
    }
}
@media only screen and (max-width: 700px){
    .exercise-card {
       max-height: 60rem;
    }
    #filterForm{
        font-size: 1.8rem;
        width: 90%;
        margin: 0 auto;
        padding: 2rem 1rem;
    }

    #filterForm-div{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .exercise-card{
        padding: 1rem 1.5rem;
    }
}
@media only screen and (max-width: 625px){



    #filterForm-div{
        align-items: center;
    }

    .exercise-card{
        max-height: 60rem;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
    }
    .exercise-thumbnail{
        width: 75%;
        height: auto;
        margin: auto;
        padding-right: 0;
    }

    .exercise-summary{
        width: 80%;
        padding: 0.5rem;
    }

    .exercise-summary>p {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .exercise-summary>p>span{
        font-weight: normal;
        font-size: 1.6rem;
    }
    .exercise-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}

/*CSS for CreateExercise*/
#exerciseForm{
    font-size: 1.8rem;
    width: 50%;
    margin: 20px auto;
    padding: 2rem 1rem;
}

#filter-button{
    font-size: 1.8rem;
    width: 17rem;
    margin: 0 auto;
}


.exercise-input{
    width: 100%;
    display: flex;
}

.exercise-input>label{
    width: 35%;
    text-align: right;
    margin-right: 1rem;
}

.exercise-input>input, .exercise-input>select, .exercise-input>textarea{
    width: 65%;
    margin: 0 0 2rem 2rem;
    justify-self: flex-end;
}

.exercise-input>.exercise-buttons{
    display: flex;
    justify-content: center;
}

/* CSS for ViewExercises */

#exercise-name{
    padding: 1rem 0;
    border-bottom: #007bff solid 0.5rem;;
}
.exercise-container {
    width: 80%;
    margin: auto;
}

.exercise-container>.exercise-thumbnail {
    width: 400px;
    height: auto;
    margin: auto;
    padding: 2rem;
}
.exercise-container>.exercise-thumbnail>img{
    width: inherit;
    height: auto;
}

.exercise-description>p{
    font-size: 1.8rem;
    padding: 2rem 1rem;
    text-align: justify;
}

.exercise-image-gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.exercise-gallery-image {
    width: 250px;
    height: auto;
    margin: 0.5rem;
}

.exercise-video-gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.exercise-gallery-video{
    width: 500px;
    height: 300px;
}
#viewExercise-buttons {
    padding: 2rem 0;
    width:100%;
    display: flex;
    justify-content: center;
}