/*footer.css*/

/*#container{*/
/*    position:relative;*/
/*    width:100%;*/
/*    min-height:100%;*/
/*    padding-bottom: 100px;*/
/*    box-sizing: border-box;*/
/*}*/

* {
    padding: 0;
    margin: 0;
}

*

.footer {
    margin-top: 30px;
    background: #222c3a;
    width: 100%;
    height: 80px;
    text-align: center;
    color: white;
    /*bottom:0;*/
    /*position:fixed;*/

}

.footer
.footer-top {
    margin-top: 15px;
}

.footer a {
    color: #f0f1f1;
    text-decoration: none;
    padding: 1px;
    vertical-align: middle;
    font-size: medium;
}

.footer a:hover {
    color: red;
    text-decoration: underline;
}

.footer p {
    height: 6px;
    color: #888888;
    margin-top: 0;
}




