
.body-login {
    background-color: darkorange;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-main-content{
    width: 90%;
    margin: auto;
    background-color: black;
    opacity: 0.8;
    padding: 2rem 1rem;
    border-radius: 5px;
    height: auto;
}

.login-message {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.login-header {
    margin-top: 1rem;
    min-height:10vh;
    background-color: transparent;
    text-align: center;
    padding: 1rem;
}

.login-header > h1 {
    font-size: 4rem;
    color: white;
    padding-bottom: 1rem;
}

.login-header>h3{
    color: white;
}

.row {
    margin: 0;
    justify-content: center;
}

#login-form{
    margin: auto;
    width: 100%;
    padding-top: 2rem;
}

#username-input, #password-input{
    color: white;
    font-size: 2rem;
    width: 60%;
    margin: auto;
}

.login-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    align-items: center;
}

.register-button{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-top: 2rem;
}
.register-button>h3{
    color: white;
}
