html{
    font-size: 10px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

p, a{
    font-size: 1.8rem;
}

main {
    /*margin-top: 12vh;*/ /*body main too low when this is implemented*/
}

/*Additional button class to make bootstrap buttons larger
Adapted from https://stackoverflow.com/questions/32864415/how-can-i-increase-the-size-of-a-bootstrap-button/32869241
*/
.btn-xl {
    margin: 5px;
    min-width: 150px;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 10px;
}

@media only screen and (max-width: 650px){
    .btn-xl{
        margin: 5px;
        min-width: 50px;
        padding: 5px 5px;
        font-size: 1.6rem;
        border-radius: 10px;
    }
}
