/*html{*/
/*    font-size: 10px;*/
/*}*/
/**{*/
/*    margin:0;*/
/*    padding:0;*/
/*    box-sizing: border-box;*/
/*}*/
/*body{*/
/*    width: 100%;*/
/*}*/

/*p, a{*/
/*    font-size: 2.5rem;*/
/*}*/
/*a{*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/
/*a:hover{*/
/*    color: #007bff;*/
/*    text-decoration: none;*/
/*}*/
/*nav{*/
/*    background-color: white;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    min-height: 15rem;*/
/*    font-size: 2rem;*/
/*    padding: 2rem 2.5rem;*/
/*    z-index: 1;*/
/*}*/
/*nav>span>a>i{*/
/*    padding: 0 1rem;*/
/*}*/
/*.trainer-image{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
header{
    margin-top: 10rem;
    min-height:10vh;
    background-color: orange;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2.5rem;
}
header>h1{
    font-size: 5rem;
    color: black;
}
header>h2{
    font-size: 4rem;
    padding: 20px 0;
}
.client-card{
    margin: 1rem;
    max-height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 3rem;
    align-items: center;
    border: #007bff solid 0.2rem;
    border-radius: 1rem;
}
/*.client-thumbnail{*/
/*    width: 150px;*/
/*    height: 150px;*/
/*}*/
.client-summary{
    padding: 1.5rem;
    flex-basis: 65%;
}
.btn-xl {
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 10px;
}
footer{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem 2.5rem;
}
