<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head :: Head"> </head>


    <body class="exercise-body">

        <nav th:replace="fragments/Navbar-Pt::PTnavbar"></nav>

        <header class="exercise-header">
            <h2>Add Images to <span th:text="${exercise.exerciseName}"></span></h2>
        </header>

        <main>
            <div class="image-message">
                <p th:text="${message}"></p>
            </div>
            <form id="imageForm" th:action="@{/trainer/exercises/uploadImages}" enctype="multipart/form-data" method="post">
                <div class="exercise-input hide">
                    <input class="hide" id="exerciseID" name="exerciseID" type="text" th:value="${exercise.exerciseID}">
                </div>

                <div class="exercise-input" id="imageInputs">
                    <label for="image" >Select the image you wish to add - add images one at a time</label>
                    <input type="file" id="image" name="image" accept="image/png, image/jpeg">

                </div>
                <div class="addImage-exercise-buttons">
                    <button id="image-add-button" type="submit" class="btn btn-primary btn-xl">Add Image</button>
                    <a href="/trainer/exercises/all"><button type="button" id="exercise-cancel" class="btn btn-secondary btn-xl">Return to Exercise Library</button></a>
                </div>
            </form>

        </main>

    </body>
</html>