<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head :: Head"> </head>


    <body class="exercise-body">

        <nav th:replace="fragments/Navbar-Pt::PTnavbar"></nav>

        <header class="exercise-header">
            <h2>Add Images to <span th:text="${exercise.exerciseName}"></span></h2>
        </header>

        <main>
            <form id="imageForm" th:action="@{/trainer/exercises/uploadImages}" enctype="multipart/form-data" method="post">
                <div class="exercise-input hide">
                    <input class="hide" id="exerciseID" name="exerciseID" type="text" th:value="${exercise.exerciseID}">
                </div>

                <div class="exercise-input">
                    <label for="images">Select images you wish to add</label>
                    <input type="file" id="images" name="images" multiple accept="image/png, image/jpeg" onchange="updateList()">
                </div>

                <div class="exercise-input">
                    <p>Selected files:</p>
                    <div id="imageList"></div>
                </div>



                <div class="edit-exercise-buttons">
                    <button id="exercise-save-button" type="submit" class="btn btn-primary btn-xl">Add Images</button>
                    <a href="/trainer/exercises/all"><button type="button" id="exercise-cancel" class="btn btn-secondary btn-xl">Cancel</button></a>
                </div>
            </form>

        </main>

    </body>
</html>