<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head::Head"> </head>

<body>

    <div th:replace="fragments/Navbar-Pt::PTnavbar"></div>

    <header class="alignHeader">
        <h2 class="workoutHeader">All Workouts</h2>
    </header>

    <!--add filter by client maybe-->
    <!--add filter by complete/incomplete maybe-->

    <div class="centerText">
        <a href="/trainer/workouts/create"><button id="createWorkoutButton" class="btn btn-primary">Create New Workout</button></a>
    </div>

    <br>

    <main>
        <div class="container">
            <div id="workoutSummary" class="row" th:each="workout: ${workouts}">
                <div id="workoutThumbnail" class="col-3">
                    <img th:src="${workout.thumbnailImg}">
                </div>
                <div id="workoutDetails" class="col-6">
                    <span>Client: </span><b th:text="${workout.clientUsername}"></b>
                    <br>
                    <span>Created: </span><b th:text="${workout.createdAt}"></b>
                    <br>
                    <span>Number of Exercises: </span><b th:text="${workout.exerciseCount}"></b>
                    <b th:if="${workout.completed} == true"><br>Completed: <span th:text="${workout.completedAt}"</span></b>
                    <b th:if="${workout.completed} == false"><br>Due: <span th:text="${workout.dueDate}"></span></b>
                </div>
                <div id="diaryButton" class="col-3">
                    <a th:href="@{/trainer/workouts/exercises(workoutID=${workout.workoutID})}"><button type="button" class="btn btn-warning" th:if="${workout.completed} == false">Add Exercises</button></a>
                </div>
                <br>
            </div>
        </div>
        <br>
    </main>

    <footer th:replace="fragments/Footer::Footer"></footer>

</body>
</html>