<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"></head>

<body>

    <nav th:replace="fragments/TempNavbar::clientNavbar"></nav>

    <header>
        <h2>Workout Diary</h2>
    </header>

    <main>
        <div class="container">
            <div id="workoutSummary" class="row" th:each="workout: ${workouts}">
                <div id="workoutThumbnail" class="col-3">
                    <img th:src="${workout.imageSrc}" th:alt="${workout.altText}">
                </div>
                <div id="workoutDetails" class="col-6">
                    <span>Date Set: </span><b th:text="${workout.createdDate}"></b>
                    <br>
                    <span>Workout Length: </span><b th:text="${workout.workoutLength}"></b>
                    <br>
                    <span>Number of Exercises: </span><b th:text="${workout.exerciseCount}"></b>
                    <span th:if="${workout.completed} == true"><br>Completed At: <b th:text="${workout.completedDate}"></b></span> <!--doesn't fit on one line-->
                    <b th:if="${workout.completed} == false"><br>Complete By: <b th:text="${workout.dueDate}"></b></b>
                </div>
                <div id="workoutButton" class="col-3">
                    <button type="button" th:if="${workout.completed} == true" id="previousWorkoutButton"><a th:href="@{/client/diary/completed(workoutID=${workout.id})}">Workout Details</a></button> <!--nigel wants client to be able to run routine again - possibly have this on the same page as new workout-->
                    <button type="button" th:if="${workout.completed} == false" id="newWorkoutButton"><a th:href="@{/client/diary/new(workoutID=${workout.id})}">New Workout</a></button>
                </div>
                <br>
            </div>
        </div>
        <br><br>
    </main>

    <!--<footer th:replace="fragments/Footer::Footer"></footer>-->

</body>
</html>