<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"></head>

<body class="ClientAccountDetails">


<nav th:replace="fragments/Navbar-client::Client-navbar"></nav>
<header>
    <h1>My Account Details</h1>
</header>

<form action="/client/ClientInfoUpdate" method="post" onsubmit="return update();">
    <strong>Name: </strong>
    <div class="form-group">
        <input id="name" name="name" placeholder="Name" autocomplete="off" th:value="${info.name}"/>
    </div>
    <strong>Gender: </strong>
    <div class="form-group">
        <input id="gender" name="gender" placeholder="Gender" autocomplete="off" th:value="${info.gender}"/>
    </div>
    <strong>Age: </strong>
    <div class="form-group">
        <input id="age" name="age" placeholder="Age" autocomplete="off" th:value="${info.age}"/>
    </div>
    <strong>Height: </strong>
    <div class="form-group">
        <input id="height" name="height" placeholder="Height" autocomplete="off" th:value="${info.height}"/>
    </div>
    <strong>Weight: </strong>
    <div class="form-group">
        <input id="weight" name="weight" placeholder="Weight" autocomplete="off" th:value="${info.weight}"/>
    </div>
    <strong>Email: </strong>
    <div class="form-group">
        <input id="email" name="email" placeholder="Email" type="email" autocomplete="off" th:value="${info.email}"/>
    </div>

    <div class="edit-ClientInfo-buttons">
        <button id="ClientInfo-save-button" type="submit" class="btn btn-primary btn-xl">Save</button>
        <a href="/client/ClientAccountDetails">
            <button type="button" id="update-cancel" class="btn btn-secondary btn-xl">Cancel</button>
        </a>
    </div>
</form>
<footer th:replace="fragments/Footer::Footer"></footer>

</body>

</html>