<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"></head>

<body>

    <nav th:replace="fragments/Navbar-client::Client-navbar"></nav>

    <header class="alignHeader">
        <h2 class="workoutHeader" th:if="${workout.completed} == true">Workout Completed <br><span th:text="${workout.completedDate}"></span></h2>
        <h2 class="workoutHeader" th:if="${workout.completed} == false">Complete by <span th:text="${workout.dueDate}"></span></h2>
    </header>
    <br>
    <main>
        <div class="workoutPreview container">

            <div class="workoutDescription">
                <span>Workout Length is <span class="font-weight-bold" th:text="${workout.workoutLengthFormat}"></span></span><br>
                <span th:if="${workout.completed} == false">Set on <span class="font-weight-bold"  th:text="${workout.createdDate}"></span></span><br>
                <span>Focus on <span class="exerciseCategoriesBlock" th:each="exercise: ${exercises}">
                    <span class="exerciseCategory font-weight-bold" th:text="${exercise.exerciseCategory}"></span><span>, </span></span>
                </span> <!--need to figure out how to combine all the categories but with no repeats and get rid of last comma-->
                <br>
                <span>Need <span class="font-weight-bold" th:text="${workout.equipment}"></span></span> <!--data is entered when building workout at the moment. Maybe find a way to link it to each exercise? Or check off options as opposed to manually entering-->
                <br>
            </div>

            <br><br>

            <div class="exerciseThumbnailNameBlock">
                <figure class="exerciseThumbnailName" th:each="exercise: ${exercises}">
                    <a th:href="@{/client/workout/exercise(exerciseID=${exercise.exerciseID})}" onclick="openWin(this)"><img th:src="${exercise.thumbnailImg}" th:alt="${exercise.thumbnailAlt}"></a>
                    <figcaption class="exerciseName" th:text="${exercise.exerciseName}"></figcaption>
                </figure>
            </div>

            <br><br>

            <a th:href="@{/client/workout/timer(workoutID=${workout.id})}">
                <button th:if="${workout.completed} == false" class="timerButton btn btn-primary btn-xl">Start Workout</button>
                <button th:if="${workout.completed} == true" class="timerButton btn btn-primary btn-xl">Repeat Workout</button>
            </a>
            <br><br>
        </div>
    </main>

    <footer th:replace="fragments/Footer::Footer"></footer>

</body>
</html>