<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"></head>

<link href="/css/workouts.css" rel="stylesheet"/> <!--to be inserted into Head.html but don't want merge error-->

<body>

    <header>
        <h3>Workout Diary</h3>
    </header>
    <main>
        <div class="container">
            <div id="workoutSummary" class="row" th:each="workout: ${workouts}"> <!--workouts need to be ordered in created order - newest at top-->
                <div id="workoutThumbnail" class="col-3">
                    <img src="../static/images/deadlift.jpg"> <!--image should come from media database-->
                </div>
                <div id="workoutDetails" class="col-6">
                    <span>Date Set: </span> <span th:text="${workout.createdDate}"></span>
                    <br>
                    <span>Workout Length: <span th:text="${workout.workoutLength}"></span></span>
                    <span th:if="${workout.completed} == true"><br>Date Completed: <span th:text="${workout.completedDate}"></span></span>
                </div>
                <div id="workoutButton" class="col-3">
                    <button onclick="location.href='/client/diary/previousWorkout'" type="button" th:if="${workout.completed} == true">Workout Details</button>
                    <button onclick="location.href='/client/newWorkout'" type="button" th:if="${workout.completed} == false">Start Workout</button>
                </div>
                <br>
            </div>
        </div>
        <br><br>
    </main>


</body>
</html>