<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/Head::Head">
        <meta charset="utf-8">
        <title>View All Clients</title>
    </head>
    <body>
    <!--Top navigation-->
        <nav th:replace="/fragments/Navbar-Pt::PTnavbar">
        </nav>

        <header>
            <h1>Phyt App</h1>
<!--            <h2>Your Clients</h2>-->
        </header>

    <!--main list of trainers clients-->
        <main>
<!--            <div class="client-list">-->
                <div class="client-card" th:each="client:${allClients}">
                    <img  src="/images/female_profile_image.jpg"   alt="thumbnail image of client">
                    <div class="client-summary">
                        <p>Client Name: <span th:text="${client.getFirstName()} + ' ' + ${client.getLastName()}"></span></p>
                        <p>Number of workouts assigned: <span th:text="${client.getNumOfWorkouts()}"></span></p>
                        <p>Last workout completed: <span th:text="${client.getLastWorkoutAsString()}"></span></p>
                    </div>
                    <a class="btn btn-primary btn-xl" th:href="@{'/trainer/client-details/'+ ${client.getClient_id()}}">View Details
                    </a>
                </div>


        </main>

        <!-- add a footer to contain about us and contact us links-->
        <footer>
            <p>&copy Phyt App ltd</p>
        </footer>
    </body>
</html>
