<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

    <head th:replace="fragments/Head :: Head"> </head>


    <body>

    <header>
        <h2>Create new exercise</h2>
    </header>

        <!-- Displays message following input validation -->
        <aside>
            <p id="message"></p>
        </aside>

        <!-- Main input form -->
        <main>
            <form id="exerciseForm" method="post">
                <div class="exercise-input">
                    <label for="exerciseName">Exercise Name: </label>
                    <input id="exerciseName" name="exerciseName" type="text">
                </div>
                <div class="exercise-input">
                    <label for="exerciseDesc">Exercise Details: </label>
                    <textarea name="exerciseDesc" id="exerciseDesc" cols="30" rows="10"></textarea>
                </div>
                <div class="exercise-input">
                    <label for="exerciseCat">Exercise Category: </label>
                    <select name="exerciseCat" id="exerciseCat">
                        <option value="select">Select a category</option>
                        <option value="core">Core</option>
                        <option value="upperBody">Upper Body</option>
                        <option value="lowerBody">Lower Body</option>
                        <option value="cardio">Cardio</option>
                        <option value="drills">Drills</option>
                    </select>
                </div>
                <div class="exercise-input exercise-buttons">
                    <button type="button" onclick="createExercise()" class="btn btn-primary btn-xl">Create</button>
                    <a href="/trainer/exercises"><button type="button" id="cancel" class="btn btn-secondary btn-xl">Cancel</button></a>
                </div>
            </form>

        </main>

    </body>

</html>