<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/Head::Head"> </head>
<body onload="selectExercises()">

    <nav th:replace="fragments/Navbar-Pt::PTnavbar"></nav>

    <header class="alignHeader">
        <h2 class="workoutHeader">Add Exercises to Workout</h2>
    </header>

    <!--display exercises in random order-->

    <form th:action="@{/trainer/workouts/exercises/submit}" method="post" class="centreContainer"> <!--th:object="${WorkoutExercisesForm}"-->

        <div class="exerciseThumbnailNameBlock">
            <figure class="exerciseThumbnailName" th:each="exercise: ${exercises}">
                <figcaption class="exerciseName" th:text="${exercise.exerciseName}"></figcaption>
                <img th:src="${exercise.thumbnailSrc}" th:alt="${exercise.thumbnailAlt}"><br><br>
                <input type="hidden" name="exerciseThumbnailSrc" th:value="${exercise.thumbnailSrc}">
                <input type="hidden" name="workoutID" th:value="${workoutID}">
                <input type="checkbox" class="checkbox" name="exerciseID" path="exerciseID" th:value="${exercise.exerciseID}">
                <br><br>
            </figure>
        </div>

        <br><br>

        <label id="equipment">Equipment Needed: <input type="text" name="equipment"></label><br>

        <br><br>

        <button type=submit id="addExercises" class="btn btn-primary">Add To Workout</button>

    </form>

    <br><br><br>

    <footer th:replace="fragments/Footer::Footer"></footer>

</body>
</html>