<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/7d6ca13c9a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/exercise.css">
        <title>Exercise Library</title>
    </head>

    <body>
    <!--Top navigation-->
    <nav>
        <span><a href="PtHomePage.html"><i class="fas fa-arrow-left"></i>Back to Home</a></span>
        <span>Joe Bloggs
                <img class="trainer-image" src="../static/images/trainer_img.jpg" alt="trainer profile image"></span>

        <span><a href="/trainer/exercises/add">Add Exercise <i class="fas fa-plus"></i></a></span>
    </nav>

    <header>
        <h1>Phyt App</h1>
        <h2>Exercise Library</h2>
    </header>

    <!--main list of exercises-->
    <main>

        <div class="exercise-list">
            <div class="exercise-card">
                <img class="exercise-thumbnail" src="../static/images/plank.jpg" alt="thumbnail image of client">
                <div class="exercise-summary">
                    <p>Exercise: </p>
                    <p>Category:</p>
                    <p>Number of times used:  </p>
                </div>
                <div>
                    <button class="btn btn-primary btn-xl">View Details</button>
                    <button class="btn btn-secondary btn-xl">Edit Details</button>
                </div>
            </div>
        </div>


    </main>

    <!-- add a footer to contain about us and contact us links-->
    <footer>
        <p>&copy Phyt App ltd</p>
    </footer>
    </body>
</html>
