<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://kit.fontawesome.com/7d6ca13c9a.js" crossorigin="anonymous"></script>
    <title>Login Home Page</title>
</head>

<body>
<header>
    <h1>PROJECT</h1>
    <h2>PHYT</h2>
</header>
<div id="center">
    <form name="myform" onsubmit="return validateform( )" enctype="multipart/form-data" action="cgi-bin/login.cgi"
          method="post" id="myform">
        <div class="usernameinput">
            <input class="form-control" id="username" name="username" type="text" style="font-size:40px"
            placeholder="Username" autocomplete="off">
        </div>
        <div class="input-group">
            <input class="form-control" id="password" name="password" type="password" style="font-size:40px"
            placeholder="Password" autocomplete="off">
            <span class="input-group-btn"><input class="btn btn-default" id="passwordeye" style="font-size:40px" type="button"
             value="show/hide"></span>
        </div>
        <div class="loginbutton">
            <a class="btn  btn-lg btn-block" style="font-size:40px" href="PtHomePage.html">Login</a>
        </div>
        <div class="registerbutton">
            <a class="btn btn-lg " style="font-size:30px" href="register.html">Register</a>
        </div>
    </form>
</div>
<footer>
    <p>&copy Phyt App ltd</p>
</footer>
</body>
</html>