<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"> </head>


<body class="body-login">

    <header class="login-header">
        <h1>WELCOME TO PHYT</h1>
        <h3>Please login or register to use the app.</h3>
    </header>

<main id="center">

    <div class="login-message">
        <h3></h3>
    </div>

    <form name="login-form" action="/LoginPage" method="post" id="login-form">

        <div class="username-input">
            <label class="login-label" for="username"><input class="form-control" id="username" name="username" type="text" style="font-size:40px"
                                         placeholder="Username" autocomplete="off" required></label>
        </div>

        <div class="input-group">
            <label class="login-label" for="password"><input class="form-control" id="password" name="password" type="password"
                                         placeholder="Password" autocomplete="off" required></label>
            <span class="input-group-btn">
                <input class="btn btn-default" id="passwordeye" style="font-size:40px" type="button"
                                                 value="show/hide"></span>
        </div>

        <div class="login-buttons">
            <button class="btn  btn-xl btn-primary" type="submit">Login</button>
            <a href="/register">
                <button class="register-button btn  btn-xl btn-warning"> Register </button>
            </a>
        </div>
    </form>

</main>

<footer>
    <p>&copy Phyt App ltd</p>
</footer>
</body>
</html>
