<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/Head::head">
    <title>PT Homepage</title>
</head>
<body class="ptHomepage">
<!--Top navigation-->

<div th:insert="fragments/Navbar-Pt::PTnavbar"></div>
<div class="DummyHeader"></div>


<section class="container-fluid px-0 sec" >
    <div class="row  stuff">
        <div class="col-md-6 ">
            <div class="ptimg"><img src="/images/pt.jpg" alt="pt" class="img-fluid rounded-circle "></div>
            <div class="ratings col-12 text-center" >
                <h2>Ratings</h2>
                <a href="#">
                    <span class="fa fa-star"></span>
                </a>
                <a href="#">
                    <span class="fa fa-star"></span>
                </a>
                <a href="#">
                    <span class="fa fa-star"></span>
                </a>
                <a href="#">
                    <span class="fa fa-star"></span>
                </a>
                <a href="#">
                    <span class="fa fa-star"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 info">
            <h1 class="overviewTitle">Overview</h1>
            <strong>About: </strong> <p>Personal trainer </p>
            <strong>User Name: </strong>  <p th:text="${info.username}"></p>
            <strong>Firstname: </strong><p th:text="${info.firstname}"></p>
            <strong>Lastname: </strong><p th:text="${info.lastname}"></p>
            <strong>Email: </strong><p th:text="${info.email}"></p>
<!--            <strong>Contact info: </strong> <p>02920195111</p>-->
            <a th:href="@{/update/info(username=${info.username})}">Update User</a>
            <br>
            <a th:href="@{/user/delete(username=${info.username})}">Delete Current User</a>
        </div>
    </div>





</section>
<!-- add a footer to contain about us and contact us links-->
<footer th:replace="/fragments/Footer::Footer">

</footer>
</body>
</html>