<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"></head>

<script th:inline="javascript">
    let exerciseCountData = [[${workout.exerciseCount}]];
    let exerciseLengthData = [[${workout.exerciseLength}]];
    let restLengthData = [[${workout.restLength}]];
    let repRestData = [[${workout.repRest}]];
    let repsData = [[${workout.reps}]];
    let exerciseArrayData = [[${exercises}]];
    let thumbnailArrayData = [[${thumbnails}]];
</script>

<body onload="timer()" id="timerBody">

    <nav th:replace="fragments/Navbar-client::Client-navbar"></nav>

    <header id="timerHeader">Timer</header>

    <div id="seconds"></div>

    <br>

    <div id="instruction"></div>

    <div class="thumbnailContainer">
        <img id="timerThumbnail" src="">

        <div class="workoutComplete">
            <span>Total Time: <span th:text="${workout.workoutLengthFormat}"></span></span>
            <br><br>
            <form action="/client/workout/workoutComplete" method="post"><button type="submit" name="${workout.id}" id="endButton" class="btn btn-primary">Click if Workout Completed</button></form>
        </div>
    </div>

    <br>

    <div class="timerButtons">
        <button id="startButton" class="btn btn-success">Start</button>
        <button id="stopButton" class="btn btn-danger">Stop</button>
        <button id="resetButton" class="btn btn-warning">Reset</button>
    </div>

    <br><br><br>

    <footer th:replace="fragments/Footer::Footer"></footer>

</body>
</html>