<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"></head>

<script th:inline="javascript">
    let workoutLength = [[${workout.workoutLengthFormat}]];
    let exerciseCount = [[${workout.exerciseCount}]];
    let exerciseLength = [[${workout.exerciseLength}]];
    let restLength = [[${workout.restLength}]];
    let repRest = [[${workout.repRest}]];
    let reps = [[${workout.reps}]];
    let exerciseArray = 0;
</script>

<body>

<nav th:replace="fragments/Navbar-client::Client-navbar"></nav>

<header>Timer</header> <!--change header-->

<div id="instruction"></div>

<div id="seconds"></div>

<button id="startButton">Start</button>
<button id="stopButton">Stop</button>
<button id="resetButton">Reset</button>

<br><br><br>

<footer th:replace="fragments/Footer::Footer"></footer>

</body>
</html>