<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"></head>

<script th:inline="javascript">
    let workoutLengthData = [[${workout.workoutLengthFormat}]];
    let exerciseCountData = [[${workout.exerciseCount}]];
    let exerciseLengthData = [[${workout.exerciseLength}]];
    let restLengthData = [[${workout.restLength}]];
    let repRestData = [[${workout.repRest}]];
    let repsData = [[${workout.reps}]];
    let exerciseArrayData = [[${exercises}]];
    let thumbnailArrayData = [[${thumbnails}]];
</script>

<body onload="timer()">

<nav th:replace="fragments/Navbar-client::Client-navbar"></nav>

<header>Timer</header> <!--change header-->

<div id="instruction"></div>

<img id="thumbnail" src="">

<div id="seconds"></div>

<button id="startButton">Start</button>
<button id="stopButton">Stop</button>
<button id="resetButton">Reset</button>

<br><br><br>

<footer th:replace="fragments/Footer::Footer"></footer>

</body>
</html>