<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"> </head>

<body>

<div th:replace="fragments/Navbar-Pt::PTnavbar"></div>


<header>
    <h1>Welcome,
        <span th:text="${name}"></span> </h1>
</header>

<main class="full-height">
    <h2>Placeholder for Trainer Overview</h2>
</main>


<div class="home-footer">
   <footer th:replace="fragments/Footer::Footer"> </footer>
</div>
</body>

</html>