<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"> </head>

<body>

<div th:replace="fragments/Navbar-Pt::PTnavbar"></div>




    <header class="home-header">
        <h1>Hi,
            <span th:text="${name}"></span> </h1>
    </header>


<main class="trainer-home full-height">

    <h3>Use the quick links below to create a workout or view your clients</h3>

    <div class="home-links">
        <a th:href="@{trainer/workout/create}"><button class="btn btn-xl btn-primary">Create a workout</button></a>
        <a th:href="@{trainer/clients/all}"><button class="btn btn-xl btn-secondary">View Clients</button></a>
        <a th:href="@{'/register/info/'}"><button class="btn btn-xl btn-secondary">View Info</button></a>
    </div>
</main>


<div class="home-footer">
   <footer th:replace="fragments/Footer::Footer"> </footer>
</div>
</body>

</html>