<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::Head"> </head>

<body class="exercise-body">

<div th:replace="fragments/Navbar-Pt::PTnavbar"></div>

<!--Page heading-->
<header class="exercise-header">
    <h2 id="exercise-name" th:text="${exercise.exerciseName}">Name of Exercise</h2>
</header>

<!-- Modal to display success message when exercise is deleted-->
<div id="successMessageModal" class="modal">
    <!-- Modal - from bootstrap https://getbootstrap.com/docs/4.0/components/modal/ -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="success-modal-header" class="modal-header">
                <h4 class="modal-title" id="Success-Message">Success!</h4>
                <button class="closeIcon close" type="button" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>The exercise has been successfully deleted</h5>
            </div>
            <div class="modal-footer">
                <a class="exercise-link" href="/trainer/exercises/all"><button type="button" class="btn btn-primary">View Exercises</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal to display failed message when exercise is not deleted-->
<div id="failedMessageModal" class="modal">
    <!-- Modal - from bootstrap https://getbootstrap.com/docs/4.0/components/modal/ -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="Failed-Message">Something went wrong</h4>
                <button class="close closeIcon" type="button" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>We've been unable to delete the exercise, please try again or view your exercises!</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="closeButton btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
                <a href="/trainer/exercises/all"><button type="button" class="btn btn-primary">View Exercises</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal to display warning message that they are requesting exercise be deleted-->
<div id="deleteExerciseModal" class="modal">
    <!-- Modal - from bootstrap https://getbootstrap.com/docs/4.0/components/modal/ -->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-Exercise-warning">Delete Exercise</h4>
                <button id="closeIcon" type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>You are about to delete this exercise</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Cancel</button>
                <button onclick="deleteExercise()" type="button" class="btn btn-primary">Delete</button>

            </div>
        </div>
    </div>
</div>

<!--main details of exercise-->
<main id="exercise-container" class="exercise-container" th:data-id="${exercise.exerciseID}">
    <div class="refresh-link">
        <a th:href=@{/trainer/exercises/view(exerciseID=${exercise.exerciseID})} th:text="${refresh}"></a>
    </div>

    <!--thumbnail image-->
    <div class="exercise-thumbnail">
        <img class="exercise-thumbnail" th:src="${exercise.thumbnailSrc}" th:alt-title="${exercise.thumbnailAlt}">
    </div>


    <!--exercise description-->
    <div class="exercise-description">
        <h3>Exercise Description</h3>
        <p th:text="${exercise.exerciseDesc}">Description of exercise</p>
    </div>

    <!--gallery of all exercise images -->
    <h3>Image Gallery</h3>
    <div class="exercise-image-gallery" >
            <img height="200" class="exercise-gallery-image" th:each="image:${images}" th:src="${image.src}" th:alt-title="${image.altText}">
    </div>

    <!--gallery of exercise videos-->
    <h3>Videos</h3>
    <div class="exercise-video-gallery">
        <iframe class="exercise-gallery-video" th:each="video:${videos}" th:src="${video.src}" th:alt-title="${video.altText}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div id="viewExercise-buttons">
        <a th:href="@{/trainer/exercises/edit(exerciseID=${exercise.exerciseID})}"><button class="btn btn-primary btn-xl">Edit Exercise details</button></a>
        <a href="/trainer/exercises/all"><button class="btn btn-secondary btn-xl">Back to library</button></a>
        <button id="triggerModal" class="btn btn-xl btn-danger" onclick ="openModal()">Delete Exercise</button>
    </div>
</main>


<!-- add a footer to contain about us and contact us links-->
<footer th:replace="fragments/Footer::Footer"> </footer>
</body>

</html>
